@if(TempData["success"] != null){
    <div class="alert-success notification">
    @TempData["success"]
    </div>
}
@if(TempData["error"] != null){
<div class="alert-danger notification">
    @TempData["error"]
</div>
}